@import "tailwindcss";



body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  background-color: #f5f0f0;
  color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;

}

.container {
  width: 90%;
  margin: auto;
}

.link:hover {
  color: #ff5252;
}

.MuiBadge-badge {
  background-color: #ff5252 !important;
}

.sliderHome {
  overflow: inherit !important;
}

.swiper-button-next,
.swiper-button-prev {
  color: white;
  /* change arrow color */
  background-color: rgba(0, 0, 0, 0.4);
  /* add background */
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: 0.3s ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: #e11d48;
  /* red on hover */
  color: #fff;
}

/* In your global.css, App.css, or Home.css */
.swiper-button-next::after,
.swiper-button-prev::after {
  display: none !important;
  font-size: 18px;
}